<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 1&1 Internet AG, https://github.com/1and1/

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<document xmlns="http://maven.apache.org/XDOC/2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 xdoc-2.0.xsd">
    <properties>
        <title>Introduction</title>
        <author>Mirko Friedenhagen</author>
    </properties>
    <body>
        <section name="Introduction">
            <p>
                This plugin attaches the reports of some quality plugins during install,
                so they are deployed by default. Missing reports are ignored. For a list
                of attached reports, take a look at
                <a href="xref/net/oneandone/maven/plugins/attachqars/AttachMojo.html#80">
                    AttachMojo
                </a>
            </p>
        </section>
        <section name="Usage">
            <p>Note that by default the plugin is invoked during the
                <code>install</code> phase, as only after verify we have
                the artifacts to attache.
            </p>
            <source><![CDATA[
<build>
    <plugins>
        <plugin>
            <groupId>${project.groupId}</groupId>
            <artifactId>${project.artifactId}</artifactId>
            <version>${project.version}</version>
            <executions>
                <execution>
                    <id>default-attach</id>
                    <goals>
                        <goal>attach</goal>
                    </goals>
                </execution>
            </executions>
        </plugin>
   </plugin>
</build>
]]></source>
        </section>
    </body>
</document>
